main {
    display: grid;
    grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px ;
    grid-gap: 0px;
}

app-square {
    border: 1px rgb(224, 201, 98) solid;
    height: 40px;
}

h3 {
    text-align: center;
}