
<button *ngIf="symbol=='X'" style="background-color:rgb(123, 123, 243)" mat-icon-button></button>
<button *ngIf="symbol=='O'" style="background-color:rgb(235, 113, 113)" mat-icon-button></button>
<button *ngIf="!symbol" style="background-color:rgb(252, 251, 191)" mat-icon-button></button>
<button *ngIf="symbol=='x'" style="background-color:rgb(252, 251, 191)" mat-icon-button><mat-icon style="color:rgb(182, 210, 252)">gps_not_fixed</mat-icon></button>
<button *ngIf="symbol=='o'" style="background-color:rgb(252, 251, 191)" mat-icon-button><mat-icon style="color:rgb(247, 180, 171)">gps_not_fixed</mat-icon></button>