
button {
    width: 100%;
    height: 100%;
    font-size: 2em !important;
}
// .material-icons {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     vertical-align: middle;
// }

.mat-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}